/*============================================================
General Tag Attributes
============================================================*/

body {
  background-color: black;
  box-sizing: border-box;
  color: white;
  font-family: Georgia, sans-serif;
  font-size: 15px;
  margin: 0px;
  line-height: 1.5;
}

a {
  color: #DDDDDD;
  text-decoration: none;
}

a:hover {
  color: white;
}

/*============================================================
Navigational Bar
============================================================*/

.nav {
  background: #222;
  box-sizing: inherit;
  font-size: 12px;
  height: 100%;
  position: fixed;
  width: 120px;
}

.nav a {
  box-sizing: inherit;
  display: block;
  padding: 12px 24px;
  text-align: center;
  width: 100%;
}

.nav i {
  font-size: 36px; /* icon size */
}

.nav-selected, .nav a:hover {
  background-color: black! important;
  color: white! important;
}

#main {
  padding: 12px 24px;
  margin-left: 120px;
}

/*============================================================
Front Page Content
============================================================*/

#section-table {
  color: #D0D0D0;
  margin-top: 35px;
}

#section-table td {
  vertical-align: top;
}

#section-table h1 {
  color: #F0F0F0;
  margin: 0px;
}

.section-description {
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
}

.title {
  color: #926832;
  margin-top: -50px;
  text-align: center;
}

.title h1 {
  font-size: 64px;
  font-weight:400;
  margin: 0px;
}

.title hr {
  opacity: 0.60;
  margin-left: 12.5%;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 75%;
}

.section {
  color: #757575;
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: justify;
}

.section > .header {
  color: #f1f1f1;
  display: block;
  font-size: 30px;
  font-weight: 400;
  margin: 10px 0;
}

